*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.content_of_cart{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:100px ;
    min-height: 80vh;
}
.items_products{
    width: 50%;

    border: 0.5px solid rgb(51, 51, 51);
    border-radius: 15px;
    padding: 10px 20px ;
    min-height: 50vh;

}
.cart_item{
padding: 20px 0px;

}
.Select_delivery_type h5{
    color: #333;
    text-align: center;
    font-size: 15px;
}
.type_of_delevery{
    margin-top: -12px;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 14px;
}
.delevery_total_price div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}
.the_buttom_cart h5 {
    color: #333;
    text-align: center;
    font-size: 15px;
}
label {
gap: 10px;
}
.the_actual_address
{
    width: 300px;
    height: 30px;
    border-radius: 15px;
 
    padding-top: 3px;
}
.imag_cart_item{
    width: 150px ;
    height: 200px;
}
.imag_cart_item img {
width: 100%;
height:100% ;
object-fit: cover;
}
.header_of_the_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 400px; */
  margin-top: -12px;
  margin: auto;
  /* border: 1px solid black; */
}
.card-body {

  width: 500px;
}
.header_text_cart{
    text-align: center;
    height: 100%;

    
}
.the_addresses{
cursor: pointer;
margin-bottom: 10px;
}
.active_address{

  border: 2px solid black;
  background-color: #f0fff0;

}
.select_prach{
    padding: 5px 10px ;
    width: 200px;
}