* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Cabin", sans-serif;

}


.sec1 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;


}



.sec1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}



.sec1::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(23, 50, 66, 0.551);
    position: absolute;
    top: 0;
    left: 0;

}



.text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 5; /* أعلى من الفيديو والـ navbar */
  color: white;
  text-align: center;
}

.text_box h1 {
    color: rgb(255, 255, 255);
    font-size: 62px;

}
.sec {
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #fff;
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-left: 5px;
}

.sec:hover {
    border-color: #f44336;
    background-color: #f44336;
    color: white;
    transform: translateY(-2px);
}



.sec1_but {
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;

}

.sec1_but:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
    color: white;
    transition: 0.8s;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
.section2{
  height: 90vh;
  color: #fff;

}
.container_section2{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
.AboutUsImage{
  width: 37%;
  /* height: 100%; */
  margin-top: 20px;

}
.AboutUsImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;

}
.AboutUsContent{
  width: 55%;
  color: black;


  padding: 20px 20px ;
  border-radius: 15px;

}









@media (max-width: 1200px) {
    .sec1 {
        padding: 10px 50px;
    }
    

}

@media (max-width: 780px) {

    
 .AboutUsContent{
  width: 100%;
  color: black;
  padding: 1px 1px ;
  border-radius: 15px;

}

.container_section2{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.section2{
  height: 90vh;


}
.AboutUsImage{
display: none;

}

}
