



.my-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: transparent;
  color: white;
}


 .navbar-brand{
    width: 100px;
 }
.navbar-brand img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbarLinksProfile {
    color: #f44336;
    text-decoration: none;
}
.navbarLinksProfile:hover{
    color: #bb342a;
}

.custom-link {
  color: white;
  text-decoration: none;
}
.custom-link:not(.sec , .no_hover):hover{
    color: #f44336;
}
.sec:hover{
    color: white;
}
.my-navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}






.secProfile{
        text-decoration: none;
    border: 1px solid #f44336;
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-left: 5px;
    color: #f44336;
}
.secProfile:hover {
    border-color: #f44336;
    background-color: #f44336;
    color: white;
    transform: translateY(-2px);
}
.nav-item{
    position: relative;
}
.dropdown{
display: flex;
flex-direction: column;
background-color: #fff;
padding: 20px 0px  ;
border-radius: 7px;
position: absolute;
top: 110%;
left: 50%;
  transform: translateX(-80%);

width: 120px;
height: fit-content;
text-align: center;

}
.dropdown li{
    list-style:none;
}
.dropdown li a {

  color: #333;

  transition: background 1s ease, padding-left 1s ease;
}
.dropdown__{
    font-size: 34px;
    cursor: pointer;
}
.position_relative{
    position: relative;
}
.cartIcon{
  position: relative;
}
.numper_of_order{

  width: 20px;   
  height: 20px; 
  border-radius: 50%;
  background-color: #f44336;
   font-size: 13px;
   position: absolute;
   top: 0;
   left: 17px;
   text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px ){
  
}